<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${keskustelualue.nimi}">keskustelualue</span></h1>

        <ol>
            <li th:each="avaus: ${avaukset}">
                <span th:text="${avaus.otsikko}">ketjun nimi</span> 
                <a th:href="${'/keskustelualue/' + keskustelualue.id + '/avaus/' + avaus.id}">linkki</a>
            </li>
        </ol>
        
        Luo uusi avaus:
        <form method="POST" action="/keskustelualue/:id">
            Otsikko:<br/>
            <input type="text" name="otsikko"/><br/>
            Lähettäjä:<br/>
            <input type="text" name="lahettaja"/><br/>
            Viesti (max 200 merkkiä):<br/>
            <textarea cols="50" rows="4" name="viesti"/><br/>
            <input type="submit" value="Lisää avaus"/><br/>
        </form>
    </body>
</html>